$color-background: #aeaeca;
$color-border: #7b7b8e;
$color-text: #493b3b;
$color-black: #000000;
$color-light: #FFFFFF;

$content-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;