@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

/*--------------------*/
body {
  font-family: "Montserrat", Verdana, sans-serif;
}

.navigation__link::before {
  transition: all 0.3s ease-in-out;
}

html {
  font-size: 10px;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 4.4rem;
  line-height: 5.4rem;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6.4rem;
  color: #aeaeca;
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../assets/fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../assets/fonts/montserrat-v25-latin-800.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("../assets/fonts/montserrat-v25-latin-500italic.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.header {
  background: #aeaeca;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 20px;
}

.avatar-pic {
  width: 40%;
  border-radius: 80%;
}

.about-me__information {
  width: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.about-me__information > h1 {
  padding-bottom: 10px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #FFFFFF;
  position: relative;
  padding-bottom: 4px;
}
.navigation__link::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transform: scaleX(0);
}
.navigation__link:hover::before {
  transform: scaleX(1);
}/*# sourceMappingURL=style.css.map */